@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: rgba(241, 184, 184, 0.05);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}